/* ----------------Common styles-------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* ----------------/Common styles-------------- */

/* ----------------Hero section-------------- */
.hero{
    background-color: #2D25A0;
    height: 100vh;
}
.container-fluid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.hero-text{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 20px;
    
}
.btn:hover i{
    transform: scale(1.2);
    transition: ease-in-out 1s;
    color: yellow;
}
.hero-img img{
    width: 100%;
    margin-top: 50px;
    transition: ease-in-out 1s;
    
}
.hero-img img:hover{
    transform: scale(1.05);  
}
/* ----------------/Hero section-------------- */

/* ----------------Blog section-------------- */
.article{
    margin: 70px auto;
    
}
.article-container{
    width: 1100px;
    margin: 0 auto;
    padding: 20px;
   
}
.blog-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 45px;
    
}
.blog{
    width: 330px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.blog-img img{
    width: 300px;
    height: 256px;
}
.blog-text h3{
    font-size: 28px;
    font-weight: 700;
    margin: 5px;
}
/* ----------------/Blog section-------------- */


/* ----------------Highlight section-------------- */
.highlight{
    margin: 150px 0;
}
.highlight-text h1{
    font-size: 48px;
}
.highlight-text p{
    margin-bottom: 30px;
}
.highlight-img img{
    width: 567px;
    height: 427px;
}
/* ----------------/Highlight section-------------- */


/* ----------------Footer section-------------- */
footer{
    padding: 40px;
}
.footer-logo{
    margin: 0 300px 0;
    
}
.footer-logo img{
    width: 400px;
    height: 110px;
    
}
.social-icon{
    font-size: 16px;
    color: rgb(235, 235, 235);
    text-align: center;
    margin-bottom: 15px;
   
}
.fab{
    background-color: #0B0D17;
    opacity: 0.1; 
    padding: 10px;
    border-radius: 50%;
}
.social-icon i{
    margin-left: 10px;
    
}
.footer-text{
    text-align: center;
}
/* ----------------/Footer section-------------- */

/* ----------------Mobile devices-------------- */

@media only screen and (max-width: 576px) {
    .hero , .article , .highlight , footer{
        width: 100%;
    }
    .container{
        width: 80%;
        padding: 0;
    }
    .article-container{
        width: 80%;
        margin: 0 auto;
    }
    .container-fluid{
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
        padding: 0;
        
    }
    .blog-wrapper{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        justify-content: center;
        padding: 0;
        width: 100%;
    }

    .hero{
        width: 100%;
        background-color: #2D25A0;
        height: auto;
    }
    .hero-text{
        width: 100%;
    }
    .hero-img{
        width: auto;
    }
    .hero-img img{
        width: 100%;
    }
    .highlight-img{
        margin-top: 50px;
    }
    .footer-logo{
        margin: 0 auto;
        width: 100%;
    }
    
}
/* ----------------/Mobile devices-------------- */

/* ----------------Tablet devices-------------- */

/* ----------------/Tablet devices-------------- */
